.container {
    color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

table{
    background-color: skyblue;
    border: 5px solid black;
}
td, th {
    border: 1px solid black; 
}
